.card {
  min-height: 450px;
  max-width: 355px;
  box-shadow: 10px 10px 20px #aaaaaa;
  border-radius: 5px;
  text-align: left;
  /* cursor: pointer; */
  transition: 0.5s;
  position: relative;
}
.card-info {
  margin: 5px;
}
.img-container img {
  width: 100%;
  border-radius: 5px;
}
.card:hover {
  box-shadow: 10px 10px 50px #aaaaaa;
}
.button button {
  border: none;
  background-color: #ffe0b3;
  font-size: 30px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  transition: 0.5s;
}
